<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />


    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/favicon/favicon.html" type="image/x-icon" />

    <!-- Fonts and icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="~/assets/css/libs.bundle.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.bundle.css" />

    <!-- Title -->
    <title>@ViewData["Title"] - MerkazApp</title>
</head>
<body>
    <aside class="aside aside-sm d-none d-xl-flex">
        <nav class="navbar navbar-expand-xl navbar-vertical">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="sidenavSmallCollapse">
                    <!-- Nav -->
                    <nav class="navbar-nav nav-pills h-100">
                        <div class="nav-item">
                            <div data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" data-bs-title="Color mode">
                                <a class="nav-link"
                                   data-bs-toggle="collapse"
                                   data-bs-theme-switcher
                                   href="#colorModeOptions"
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="colorModeOptions">
                                    <span class="material-symbols-outlined mx-auto"> </span>
                                </a>
                            </div>
                            <div class="collapse" id="colorModeOptions">
                                <div class="border-top border-bottom py-2">
                                    <a class="nav-link fs-sm"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="right"
                                       data-bs-trigger="hover"
                                       data-bs-title="Light"
                                       data-bs-theme-value="light"
                                       href="#"
                                       role="button">
                                        <span class="material-symbols-outlined mx-auto"> light_mode </span>
                                    </a>
                                    <a class="nav-link fs-sm"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="right"
                                       data-bs-trigger="hover"
                                       data-bs-title="Dark"
                                       data-bs-theme-value="dark"
                                       href="#"
                                       role="button">
                                        <span class="material-symbols-outlined mx-auto"> dark_mode </span>
                                    </a>
                                    <a class="nav-link fs-sm"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="right"
                                       data-bs-trigger="hover"
                                       data-bs-title="Auto"
                                       data-bs-theme-value="auto"
                                       href="#"
                                       role="button">
                                        <span class="material-symbols-outlined mx-auto"> contrast </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-toggle="hover" data-bs-title="Go to product page">
                            <a class="nav-link" href="https://themes.getbootstrap.com/product/dashbrd/" target="_blank">
                                <span class="material-symbols-outlined mx-auto"> local_mall </span>
                            </a>
                        </div>
                        <div class="nav-item mt-auto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-toggle="hover" data-bs-title="Contact us">
                            <a class="nav-link" href="mailto:yevgenysim+simpleqode@gmail.com">
                                <span class="material-symbols-outlined mx-auto"> support </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
    </aside>

    <!-- Sidenav (lg) -->
    @Html.Partial("_SidebarPartial")

    <!-- Topnav -->
    @Html.Partial("_TopNavigation")


    <main class="main px-lg-6">
        @RenderBody()
    </main>

    <!-- Vendor JS -->
    <script src="~/assets/js/vendor.bundle.js"></script>

    <!-- Theme JS -->
    <script src="~/assets/js/theme.bundle.js"></script>
    <script src="~/assets/js/SystemMode.js"></script>
</body>
</html>
