<nav class="navbar d-none d-xl-flex px-xl-6">
    <div class="container flex-column align-items-stretch">
        <div class="row">
            <div class="col">
                <!-- Search -->
                <div class="input-group" style="max-width: 400px">
                    <input class="form-control" id="topnavSearchInput" type="search" placeholder="Search" aria-label="Search" aria-describedby="navbarSearch" />
                    <span class="input-group-text" id="navbarSearch">
                        <kbd class="badge bg-body-secondary text-body">⌘</kbd>
                        <kbd class="badge bg-body-secondary text-body ms-1">K</kbd>
                    </span>
                </div>
            </div>
            <div class="col-auto">
                <!-- User -->
                <div class="dropdown my-n2">
                    <a class="btn btn-link d-inline-flex align-items-center dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="avatar avatar-sm avatar-status avatar-status-success me-3">
                            <img class="avatar-img" src="~/assets/img/photos/photo-6.jpg" alt="..." />
                        </span>
                        John Williams
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li><a class="dropdown-item" href="#">Change password</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
